/* .signup{
    background-color: rgb(192, 192, 246);
     height: 100vh;
    
} */

.gender{
    margin-left: 20px;
}
.signup-btn{
   display: block;
   margin: 0 auto;
   margin-bottom: 10px;
   background-color: rgb(255, 240, 23);;
   color: white;
}