*{
    padding: 0;
    margin: 0;
}

body{
    /* background-color: rgb(192, 192, 246); */
    background-color:  #fadfdc;
}
.text-center{
    text-align: center;
}
.main-container{
    width: fit-content;
    background-color: white;
    margin: 30px auto;
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 0 0 5px  rgb(236, 27, 27); 
}

.input-form{
    display: block;
    font-size: 16px;
    padding : 10px 10px;
    width: 350px;
    margin: 5px 10px;
    margin-bottom: 20px;
}

.btn{
    /* background-color: black; */
    border: none;
    border-radius: 10px;
    min-width: 250px;
    padding: 10px 20px;
    text-align: center;
    /* color: white; */
    font-size: 20px;
    margin-top: 15px;


}