.product-image{
    width: 400px;
    border-radius: 15px;
    /* background-color: white; */
    margin: 20px 20px;
    padding: 25px;
    box-shadow: 0 0 5px black;
}
.buy-product-info{
    display: flex;
     flex-direction: row;
    margin: 30px;

}
.btn-decrease-quantity{
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0 0 10px black;
    margin: 20px 20px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.btn-increase-quantity{
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0 0 10px black;
    margin: 20px 20px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    
}
.product-quantity-text{
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
.product-quantity{
    font-size: 22px;
    margin-left: 20px;
}
.quantity{
    font-weight: bolder;
    font-size: 25px;
}
.buy-product-name{
    padding: 10px;
}
.buy-product-description{
    font-size: 20px;
    padding: 10px;
}
.buy-product-price{
    font-size: 30px;
    padding: 10px;
}

.input-shipping-Address{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    outline: none;
}
.btn-place-order{
    display: block;
    margin: 20px auto;
    width: 300px;
    cursor: pointer;
    background-color: rgb(2, 2, 49);
    color: white;

    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    
}
.delivery-charge{
    font-size: 20px;
    
}
.delivery{
    margin: 20px;
}

@media only screen and (max-width: 768px) {
    .product-image{
        width: 300px;
    }

    .buy-product-info{
        display: flex;
        flex-wrap: wrap;
      
    }
}